.p{
border: 2px solid black;
display: inline-block;

}

.a{
height: 150px;
width: 600px;
background-color:#00a652 ;


}

.b{
    height: 150px;
    width: 600px;
    background-color:#fef200;
    
    
    }
    
    .c{
        height:150px;
        width: 600px;
        background-color:#0065b3 ;
        
        
        }
        
            






